extends base

block content
  div
    p=video.description
    ul
      each hashtag in video.hashtags
        li=hashtag
    small #{video.meta.views} #{video.meta.views === 1 ? "view" : "views"} · posted #{video.createdAt}
  a(href=`${video.id}/edit`) Edit Video &rarr;
